*{
	margin: 0px;
	padding: 0px;
}
.header{
	border: 1px solid #fff;
	background-color: #fff;
}.a1{
	font-family: '微软雅黑'
}
li{
	list-style:none; 
}
.header{
	border: 1px solid #fff;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
.logo{
	margin: 42px 0 0 22px;
	font-family: '微软雅黑';
	font-size: 20px;
	float: left;
}
.search{
	margin: 39px 19px 0 0;
	float: right;
}
.search button img{
	width: 15px;
	height: 10px;
}
.nav{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}
.nav .a1{
		color: #fff;
		text-align: center;
		line-height: 60px;
		float: left;
		font-size: 20px;
		width: 125px;
		text-decoration: none;
		background-color: #000;
}
.nav li:hover{
		background-color: #466;
	}
.banner{
	width: 1000px;
	margin: 0 auto;
	height: 471px;
}
.banner p{
	font-size: 40px;
	position: absolute;
	color: #0a3b7e;
	top: 155px;
	left: 340px;
}
.banner button a{
	width: 200px;
	height: 47px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 47px;
	border-radius: 5px;
	background-color: #0a3b7e;
	position: absolute;
	top: 228px;
	left: 399px;
}
.banner .img2{
	position: absolute;
	top: 198px;
}
.banner .img3{
	position: absolute;
	top: 198px;
	right: 0px;
}
.container{
	width: 1000px;
	height: 470px;
	margin: 0 auto;
	background: #fff;
}
.boss{
	float: left;
	border: 1px solid #fff;

}
.boss .y{
	font-size: 17px;
	font-family: '微软雅黑';
	float: left;
	width: 500px;
	height: 240px;
}
.y .q1{
	margin: 35px 0 0 2px;
}
.y .q1 a{
	font-size: 12px;
	color: #b8b8b8;
	text-decoration: none;
}
.y .q8 a{
	margin: 12px 0 0 2px;
	font-size: 12px;
	color: #b8b8b8;
	text-decoration: none;
}
.q7{
	float: right;
	color: #b8b8b8;
	font-size: 12px;
}
.e{
	font-size: 17px;
	font-family: '微软雅黑';
	float: left;
	width: 240px;
	height: 240px;
	background-color: #f1f1f1;
}
.e .q2{
	font-size: 12px;
	margin: 25px 0 0 2px;
	color: #b8b8b8;
}
.e .q4{
	font-size: 14px;
	margin: 35px 0 0 2px;
	color: #b8b8b8;
}
.e .q5{
	margin: 15px 0 0 2px;
	color: #b8b8b8;
	font-size: 12px;
}
.w{
	background-color: #fff;
	float: left;
	width: 258px;
	height: 240px;
	font-family: '微软雅黑';
	font-size: 17px;
}
.q3{
	margin: 35px 0 0 2px;
	font-size: 12px;
	color: #b8b8b8;
}
.q9{
	margin: 15px 0 0 2px;
	font-size: 12px;
	color: #b8b8b8;
}
.more{
	margin: 35px 0 0 25px;
}
.w img{
	float: right;
}
.p{
	font-size: 17px;
	width: 1000px;
	height: 40px;
	float: left;
}
.p1{
	border: 1px solid #fff;
	font-size: 12px;
	width: 250px;
	color: #b8b8b8;
	font-family: '微软雅黑';
	float: left;
}
.p1 img{
	width: 210px;
	height: 136px;
}
.p2{
	border: 1px solid #fff;
	font-size: 12px;
	width: 250px;
	color: #b8b8b8;
	font-family: '微软雅黑';
	float:left;
}
.p3{
	border: 1px solid #fff;
	font-size: 12px;
	width: 250px;
	color: #b8b8b8;
	font-family: '微软雅黑';
	float:left;
}
.p4{
	border: 1px solid #fff;
	font-size: 12px;
	width: 243px;
	color: #b8b8b8;
	font-family: '微软雅黑';
	float:left;
}
.footer{
	border: 1px solid #fff;
	width: 1000px;
	height: 330px;
	margin: 0 auto;
	position: relative;
}
.p5{
	border: 1px solid #e5e5e5;
	width: 500px;
	height: 250px;
	float: left;
	color: #b8b8b8;
	background-color: #e5e5e5;
}
.p6{
	color: #b8b8b8;
	font-family: '微软雅黑';
	width: 160px;
	background-color: #e5e5e5;
	float: left;
}
.p6 li{
	font-size: 12px;
	font-family: '微软雅黑';
}
.p7{
	font-size: 12px;
	font-family: '微软雅黑';
	float: left;
	width: 160px;
}
.p8{
	font-size: 12px;
	font-family: '微软雅黑';
	float: left;
	width: 170px;
	background-color: #e5e5e5；
}
.p9{
	border: 1px solid #e5e5e5;
	color: #b8b8b8;
	font-family: '微软雅黑';
	width: 200px;
	height: 250px;
	border-bottom: 150px;
	float: left;
	background-color: #e5e5e5;
}
.p9 li{
	font-size: 12px;
	font-family: '微软雅黑';
}
.x1{
	font-size: 15px;
	font-family: '微软雅黑';
	margin-top: 30px;
	margin-left: 35px;
}
.p10{
	border: 1px solid #e5e5e5;
	color: #b8b8b8;
	font-family: '微软雅黑';
	width: 294px;
	height: 250px;
	border-bottom: 250px;
	float: left;
	background-color: #e5e5e5;
}
.p10 img{
	float: right;
}
.x2{
	font-size: 15px;
	font-family: '微软雅黑';
	margin-top: 30px;
	margin-left: 35px;
}
.p11{
	font-size: 15px;
	font-family: '微软雅黑';
	color: #b8b8b8;
	margin: 30px 0 0 10px;
}

.footer .b8{
	position: absolute;
	float: left;
	top: 275px;
	left: 23px;
}
.footer a{
	color: #b8b8b8;
	text-decoration: none;
}
.footer .f1{
	float: left;
	font-size: 12px;
	margin-left: 15px;
}
.footer .b9 a{
	float: left;
	position: absolute;
	top: 275px;
	left: 390px;
	font-size: 12px;
	

}
.b10{
	margin-top: 25px;
}
.footer .b10 a{
	float: right;
	font-size: 12px;
	position: absolute;
	top: 275px;
	right: 0px;
}
.footer .b10 img{
	width: 100px;
	height: 10px;
}
.clear{
	clear: both;
}